@model GameList.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = $"{Model.UserName}'s Profile' ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>testing viewmodel @Model.ImgUrl</p>
</div>