@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model GameList.ViewModels.GameViewModel

@{
    ViewData["Title"] = $"{Model.DisplayName}";
    var platforms = Model.Platforms;
}

<div class="game-profile">
    <img class="banner" src="~/images/@Model.BannerUrl"/>

    <div class="d-sm-inline-flex">

        <div class="game-left-column">
            <img class="cover" src="~/images/@Model.ImgUrl"/>

            <div>
                @if (true){
                    <div class="game-btns1">
                        <button class="btn btn-primary add-to-list">Add To List</button>
                    </div> <br />
                }
                else {
                    <div class="game-btns2">
                        <button class="btn btn-primary">Remove</button>
                        <button class="btn btn-primary">Favorite</button>
                    </div> <br />
                }
                <h8>Platform(s)</h4>
                @if (@platforms != null && platforms.Count > 0)
                {
                    foreach (var p in platforms)
                    {
                        <a class="nav-link">@p.Replace('_', ' ')</a>
                    }
                     <br/>
                }
                else
                {
                    <p>N/A</p>
                }
                <h8>Fans on GameList</h4>
                <p>@Model.FanCount</p>
            </div>
        </div>

        <div>
        <h1 class="display-5">@Model.DisplayName</h1>
        <p class="game-desc">@Model.Desc</p>
    </div>
    </div>
</div>