@using GameList.ViewModels;
@model List<PopularViewModel>;
@{
    ViewData[index: "Title"] = "Popular";
}

<br />
<h1 class="display-4">Popular</h1>

<div class="game-row">
    @foreach (var g in Model){
        string fans = "fans";
        if (int.Parse(g.FanCount) == 1) fans = "fan";
        <div class="game-card">
            <a asp-controller="Game" asp-action="Game" asp-route-name="@g.Name">
                <div class="game-card-gradient">
                    <img src="~/images/@g.ImgUrl"/>
                </div>
            </a>
                <div class="game-card-info">
                    <span>@g.DisplayName</span><br />
                    <span>@g.FanCount @fans</span>
                </div>
        </div>
    }
</div>