html {
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration-color: #753db2;
  color: #753db2;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
  margin-bottom: 60px;
  background-color: #0d0d0d;
  color: #bcbcbc;
  font-family: monospace;
}
body h1, label, h8 {
  color: #ffff;
}


.logo{
  display: flex;
  align-items: center;
  pointer-events: none;
}
.logo img{
  margin-right: 10px
}
.title-a {
  text-decoration: none;
  margin-right: 10px;
}
.navbar-grp{
  display: flex;
  align-items: center;
}
.spacer{
  pointer-events: none;
}
.navbar {
  background-color: #212121;
}
.navbar a, .nav-link, .navbar-toggler {
  color: #bcbcbc;
}
.nav-link:hover{
  color: #753db2;
}
.navbar .btn-logout:hover {
  color: #c13b3b;
}


input[type="text"], input[type="password"], input[type="email"] {
  background-color : #aaaaaa;
  border-color:#000000;
}


.btn:hover {
  color: #ffff;
}
.btn-primary {
  color: #bcbcbc;
  background-color: #4b1882;
  border-color: #4b1882;
  margin: 0;
}
.btn-primary:hover{
  border-color: #8e15ff;
  background-color: #8e15ff;
}
.btn-secondary{
  color: #bcbcbc;
  background-color: transparent;
  border-color: #4b1882;
  margin: 0;
}
.btn-secondary:hover{
  background-color: transparent;
  border-color: #c13b3b;
}
.btn-primary:focus, .btn-primary:active:focus {
  background-color: #8e15ff;
  border-color: black;
}
.btn-secondary:focus, .btn-secondary:active:focus {
  background-color: transparent;
  border-color: #c13b3b;
}
.btn-link.nav-link:focus{
  box-shadow: 0 0 0 0.25rem #993def;
  background-color: #993def;
}


.form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #591e99;
  background-color: #d0d0d0;
  border: 0;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}
.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.login-register{
  max-width: 25vw;
}
.login-register p{
  font-size: 14px;
  margin: 0;
}
.login-register-submit{
  display: flex;
  justify-content: space-between;
}
.login-register-link{
  display: flex;
  align-items: center;
}


.banner {
  width: fit-content;
  display: block;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-bottom: 1vw;
  height: 13vw;
  opacity: 50%;
  object-fit: cover;
}
.game-profile {
  max-width: 1200px;
  margin: auto;
}
.game-left-column{
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  position: relative;
  top: -6vw;
  max-width: 231px;
  color: #bcbcbc;
}
.infoblock{
  font-size: 14px;
  margin-bottom: 10px;
}
.infoblock a{
  display: inline;
}
.infoblock p{
  display: inline;
}
.cover {
  height: 330px;
  width: 231px;
  margin-bottom: 1vw;
  border-radius: 2%;
}
.add-to-list{
  width: 231px;
}
.game-btns1 {
  margin-bottom: 10px
}
.game-btns2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.game-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game-card {
  position: relative;
  height: 280px;
  width: 196px;
  color: #ffff;
  margin: 9px;
  padding: 9px;
  white-space: nowrap;
}
.game-card:hover{
  transform: scale(1.02);
  white-space: normal;
}
.game-card-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #000000b1 10%, #0d0d0dae 20%, #45454500);
}
.game-card img {
  position: absolute;
  inset: 0;
  height: 280px;
  width: 196px;
  z-index: -1;
  border-radius: 2%;
}
.game-card span {
  font-size: 14px;
}
.game-card-info{
  position: absolute;
  bottom: 9px;
  left: 9px;
  right: 9px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 25px;
  font-size: medium;
  background-color: #212121;
  color: #828282;
}