html {
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration-color: #753db2;
  color: #753db2;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
  margin-bottom: 60px;
  background-color: #0d0d0d;
  color: #bcbcbc;
  font-family: monospace;
}
body h1, label, h8 {
  color: #ffff;
}


.navbar {
  background-color: #212121;
}
.navbar a, .nav-link, .navbar-toggler {
  color: #bcbcbc;
}
.nav-link:hover{
  color: #753db2;
}


input[type="text"], input[type="password"], input[type="email"] {
  background-color : #aaaaaa;
  border-color:#000000;
}


.btn-primary {
  color: #bcbcbc;
  background-color: #4b1882;
  border-color: #000000;
  margin: 0;
}
.btn:hover {
  color: #ffff;
  background-color: #8e15ff;
  border-color: black;
}
.btn:focus, .btn:active:focus {
  background-color: #993def;
}
.btn-link.nav-link:focus{
  box-shadow: 0 0 0 0.25rem #993def;
  background-color: #993def;
}


.form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #993def;
  background-color: #d0d0d0;
  border: 0;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}
.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.banner {
  width: fit-content;
  display: block;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-bottom: 1vw;
  height: 13vw;
  opacity: 50%;
  object-fit: cover;
}
.game-profile {
  max-width: 1200px;
  margin: auto;
}
.game-left-column{
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  position: relative;
  top: -6vw;
  max-width: 196px;
  color: #bcbcbc;
}
.cover {
  height: 280px;
  width: 196px;
  margin-bottom: 1vw;
}
.add-to-list{
  width: 196px;
}
.game-btns2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 25px;
  font-size: medium;
  background-color: #212121;
  color: #828282;
}